# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
**/node_modules/

# Production / Builds
dist/
**/dist/
dist-ssr/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local

# Editor settings
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Agent Config / Config directories
.agents/
.gemini/
